

<div class="container">
<h1>Stupid Coaching</h1>
<div class="ask">
<h2><%= @question.capitalize %></h2>
<i>- You</i>
</div>

<div class="answer">
<h2><%= @answer %></h2>
<i>- Your coach</i>
</div>

<%= link_to "Ask a new question", ask_path %>
</div>
